/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), Arial;
  font-size: var(--font-size-main);
  font-variation-settings: "wght" var(--font-weight-normal);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  background-image: var(--background-image);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  inline-size: min(100%, 700px);
  background-color: var(--background-color);
  border: 2px #000 solid;
}

.header {
  margin-block: 100px;
  padding-block: 128px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-title {
  font-family: var(--font-family-accent);
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-normal);
}

.header-description {
  font-family: var(--font-family-accent);
  font-size: var(--title-description-size);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
}

.main-info-section {
  display: flex;
  flex-direction: column;
  margin-block-end: 50px;
}

.section-title {
  font-size: var(--font-size-main);
  font-variation-settings: "wght" var(--font-weight-bold);
  margin: 3px 10px;
}

.image-container {
  inline-size: 100%;
  block-size: fit-content;
  position: relative;
}

.section-image {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: right center;
}

.second-image {
  filter: sepia(1);
}

.third-image {
  filter: blur(2px);
}

.fourth-image {
  filter: brightness(4);
}

.fifth-image {
  filter: grayscale(1);
}

.sixth-image {
  filter: blur(2px) invert(100%);
}

.seventh-image {
  filter: saturate(5);
}

.eigth-image {
  filter: hue-rotate(180deg);
}

.first-section .image-container::before {
  content: '</HTML>';
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow:
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
  mix-blend-mode: hard-light;
  font-family: var(--font-family-accent);
  font-size: var(--image-label-size);
  z-index: 1;
}

.second-section .image-container::before {
  content: '</HTML>';
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow:
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
  mix-blend-mode: hard-light;
  font-family: var(--font-family-accent);
  font-size: var(--image-label-size);
  z-index: 1;
}

.third-section .image-container::before {
  content: '<CSS>';
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow:
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
  mix-blend-mode: hard-light;
  font-family: var(--font-family-accent);
  font-size: var(--image-label-size);
  z-index: 1;
}

.fourth-section .image-container::before {
  content: '<desigions>';
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow:
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
  mix-blend-mode: hard-light;
  font-family: var(--font-family-accent);
  font-size: var(--image-label-size);
  z-index: 1;
}

.fifth-section .image-container::before {
  content: 'care';
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow:
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
  mix-blend-mode: hard-light;
  font-family: var(--font-family-accent);
  font-size: var(--image-label-size);
  z-index: 1;
}

.sixth-section .image-container::before {
  content: '<support>';
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow:
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
  mix-blend-mode: hard-light;
  font-family: var(--font-family-accent);
  font-size: var(--image-label-size);
  z-index: 1;
}

.seventh-section .image-container::before {
  content: '<lifes-style: none;>';
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow:
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
  mix-blend-mode: hard-light;
  font-family: var(--font-family-accent);
  font-size: var(--image-label-size);
  z-index: 1;
}

.eigth-section .image-container::before {
  content: '<experience>';
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow:
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
  mix-blend-mode: hard-light;
  font-family: var(--font-family-accent);
  font-size: var(--image-label-size);
  z-index: 1;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .article__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.section-text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.button-block {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0 4px 0 0;
  background-color: transparent;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--button-border-color, #000);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--button-border-color, #000);
  transition-duration: 0.1s;
}

.core {
  fill: transparent;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.like-icon:hover .core {
  fill: var(--button-border-color, #000);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:active .core {
  fill: #FF0000;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.main-body {
  fill: transparent;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--button-border-color, #000);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: #FF0000;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .core {
  fill: #FF0000;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation-name: heart-sparks;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.is-liked .heart {
  transform-origin: center;
  animation-name: heart-scale;
  animation-delay: 0.1s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.button {
  cursor: pointer;
}

.card__like-button {
  position: relative;
  background-color: var(--button-bg-color);
  border: 2px solid var(--button-border-color); 
  block-size: 38px;
  padding: 0 35px;
  cursor: pointer;
  overflow: hidden;
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  font-size: var(--font-size-button);
  font-family: var(--font-family-accent);
  color: var(--button-text-color);
  font-weight: 400;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-hover-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
  z-index: 1;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--button-border-color);
  transition-duration: 0.3s;
}

.saving-section {
  margin-block-end: 103px;
}

.save_button {
  position: relative;
  background-color: var(--button-bg-color);
  border: 2px #000 solid;
  inline-size: 335px;
  block-size: 55px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.button__icon {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
  fill: var(--button-text-color, #fff);
  color: var(--button-text-color, #fff);
}

.save_button-text {
  block-size: min-content;
  align-items: center;
}

.dialog[open] {
  border: 2px #000 solid;
  display: grid;
  grid-template-columns: 39px auto;
  grid-template-rows: min-content min-content;
  row-gap: 30px;
  column-gap: 20px;
  padding: 30px;
  max-inline-size: 353px;
}

.dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog__icon {
  block-size: 39px;
  inline-size: 39px;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
}

.dialog__text {
  font-family: var(--font-family-accent);
  font-size: var(--modal-font-size);
  text-transform: uppercase;
  line-height: 1.5;
  grid-row: 1/2;
  grid-column: 2/3;
  inline-size: 100%;
}

.dialog__controller {
  grid-row: 2/3;
  grid-column: 1/3;
}

.dialog__button {
  position: relative;
  background-color: transparent;
  border: 2px #000 solid;
  block-size: 38px;
  inline-size: 100%;
}

@media (width <= 375px) {
  .header {
    padding-block: 120px;
  }

  .first-section .image-container::before {
    right: 13px;
  }

  .second-section .image-container::before {
    right: 13px;
  }

  .third-section .image-container::before {
    right: 13px;
  }

  .fourth-section .image-container::before {
    right: 13px;
  }

  .fifth-section .image-container::before {
    right: 13px;
  }

  .sixth-section .image-container::before {
    right: 13px;
  }

  .seventh-section .image-container::before {
    right: 13px;
  }

  .eigth-section .image-container::before {
    right: 13px;
  }
  
  .saving-section {
    inline-size: 100%;
    margin-block-end: 100px;
    padding-inline: clamp(0px, 34.5px, 34.5px);
  }

  .save_button {
    flex-direction: column;
    padding-inline: 0;
    inline-size: 100%;
    block-size: 84px;
    padding-block: 15px;
  }
}