/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), Arial;
  font-size: var(--font-size-main);
  font-variation-settings: "wght" var(--font-weight-normal);
}

.section {
  inline-size: min(100%, 700px);
  margin-inline: max(0px, calc((100% - 700px) / 2));
}

.header {
  
  margin-block: 100px;
  padding-block: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 2px #000 solid;
}

.header-title {
  font-family: var(--font-family-accent);
  font-size: var(--title-font-size);
}

.header-description {
  font-family: var(--font-family-accent);
  font-size: var(--title-description-size);
  text-transform: uppercase;
}
